.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  row-gap: 30px;
  margin-top: 30px;
  list-style-type: none;
  justify-content: space-between;
}
.project-card {
  width: 48%;
  border-radius: 20px;
  background-color: #1e1e1e;
  font-family: 'roboto';
  cursor: pointer;
  overflow: hidden;
  transition: 0.7s;
}
.img-card {
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.project-img {
  width: 100%;
  border-radius: 20px;
  transition: 0.6s;
}
.project-ds {
  padding: 27px 20px;
}
.pr-title {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pr-title:hover {
  color: #d5b309 !important;
  transition: 0.6s;
}
.sp2 {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 400;
}
.project-img:hover {
  scale: 1.1;
}

.pr-discription {
  padding-top: 13px;
  color: #d9d9d9;
  font-size: 15px;
  line-height: 1.6;
}
@media (max-width: 878px) {
  .project-card {
    width: 100%;
  }
  .project-card {
    margin-top: 20px;
  }
  .projects-container {
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media (max-width: 1025px) {
  .pr-title {
    font-size: 19px;
  }
  .pr-discription {
    font-size: 13px;
    line-height: 1.5;
    padding-top: 10px;
  }
  .projects-container {
    margin-top: 10px;
  }
}
